body{
    background-color: rgb(231, 211, 211);/* фон нашего сайта*/
    color:rgb(24, 24, 63);/*цвет нашей строки */
    font-size: 15px;/*размер строки*/
    font-weight: 600px;/*жирность строки*/
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;/*стилистика строки */
   
   
}
a{
    color:black;
    text-decoration:none;
}a:hover{
    text-decoration:underline;
}
a:active{
    color:blue;
}
.avatar{
    height:200px;
    width:200px;
    border-radius:28px;
    box-shadow:12px 4px 14px rgba(0, 0, 0, 025);
}
.info {
  
    color:rgb(34, 34, 28);
    padding-left:25px;
    font-style:italic;
    font-weight:bold;
    text-decoration:none;
}
/* }
.social{
    background:rgb(82, 33, 138);
    padding:15px;
    border:5px solid red;
    margin:0px; 
} */
.Conteiner{
    max-width:60%;
    margin:auto;  
}
.bg-red {
    background: #9099a5;
}
.bg-sel {
    background: rgb(199, 209, 214);
}
.bg-res{
    background: rgb(142, 188, 214);
}
.car{
    
    border-radius:28px;
    padding:4px 20px;
    margin:10px;

}